:root{
    /* ----- COLORS ----- */
    /* Dark Blue */
    --dark-blue-100: #609ed4;
    --dark-blue-200: #356ea9;
    --dark-blue-300: #0a3871;
    --dark-blue-400: #072b61;
    --dark-blue-500: #052051;

    /* Light Blue */
    --light-blue-100: #f3f5fc;
    --light-blue-200: #eff1fa;
    --light-blue-300: #e9ecf8;
    --light-blue-400: #aab2d5;
    --light-blue-500: #757fb2;

    /* Gray */
    --gray-100: #ced4da;
    --gray-200: #adb5bd;
    --gray-300: #868e96;
    --gray-400: #495057;
    --gray-500: #343a40;

}

body{
    font-family: 'Inter';
    background-color: var(--light-blue-300);
}

section{
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
}

/* ======= Left Section ======= */

.left-section{
    width: 66%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
}

.logo{
    position: relative;
    top:5%;
    left:5%
}

.form{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.form-bottom{
    position: relative;
    margin-top: 30vh;
    margin-left:50px;
}

.input-text{
    color: var(--dark-blue-300);
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    margin-left:40px;
    background-color: transparent;
    border: none;
    position: relative;
    left:7%;
    top:70px;
    height: 30vh;
}

.input-text:focus{
    outline:0;
}

.form label {
    display:block;
    margin: 10px 20px;
    color: var(--gray-400);
    
}


/* ======= Right Section ======= */

.right-section{
    display: inline-block;

    background-color: var(--light-blue-100);
    width: 30%;
    height: 95%;
    margin: 30px 0px 20px 20px;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.4);
    border-radius: 15px;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 20px;
}

.right-section img{
    margin-top:40px;
    margin-bottom: 40px;
}

.right-section h2{
    color: var(--gray-500);

    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
}

.right-section p{
    color: var(--gray-400);

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;

}

.right-section-after{
    display: none;

    background-color: var(--light-blue-100);
    width: 30%;
    height: 95%;
    margin: 30px 0px 20px 20px;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.4);
    border-radius: 15px;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 20px;
    
}
.right-section-after p{
    font-size:22px;
    line-height: 150%;
    margin:20px;
}
.right-section-after button{
    position:absolute;
    bottom:15px;
    left:5px;
}

/* ======= Buttons ======= */

button{
    width: 25vw;
    margin-left: 20px;
    padding:24px;
    gap:8px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.dark-button{
    border: none;
    background: var(--dark-blue-300);
    color:var(--gray-100);
}

.dark-button:hover{
    background: var(--dark-blue-400);
}

.light-button{
    color:var(--dark-blue-300);
    border: 1px solid var(--dark-blue-300);
    background-color: var(--gray-100);
}

.light-button:hover{
    background-color: var(--gray-200);
}

/* ======= Footer ======= */
footer{
    position: absolute;
    bottom:0px;
    height:10vh;
    width: 100vw;
    background-color: var(--dark-blue-400);
    text-align: center;
    margin:0px;
    padding:0px;
}
footer p {
    color:var(--light-blue-100);
    padding-top: 25px;
    display:inline-block;
}
.footer-links{
    display: inline-block;
    position:relative;
    top:10px;
    margin-left:50px;
}
/* ======= Media queries ======= */
/* For tablets */

@media only screen and (max-width: 768px) {
    
    section{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    /* Left Section */
    .left-section{
        width: 80%;
        height: 65%;
        top:0;
        left:0;
    }

    .form label {
        font-size: 22px;
        
    }

    .input-text{
        font-size: 28px;
    }

    button {
        width: 25vw;
        font-size: 22px;
    }

    .form-bottom{
        margin-left: 100px;
    }
    

    /* Right Section */

    .right-section{
        width: 90%;
        height: 15%;
        margin-right:15px;
        top: 75%;
        padding: 10px 0;
    }

    .right-section-content{
        margin-top: 5%;
    }

    .right-section img {
        display: none;
    }


    .right-section h2{
        font-size: 28px;
    }
    
    .right-section p{
        font-size: 22px;
    }

    .right-section-after{
        width: 90%;
        height: 20%;
        margin-right:15px;
        top: 75%;
    }
    
    .right-section-after p {
        font-size: 22px;
        margin: 10px;
    }

    .right-section-after button{
        width: 93%;
    }
    
    /* Footer */
    footer{
        display: none;
    }
}

/* For mobile */
@media only screen and (max-width: 720px) {

    /* Left Section */
    .form label {
        font-size: 16px;
    }
    .form-bottom{
        margin: 0;
        margin-top:100px;
    }
    button {
        width: 85vw;
        font-size: 18px;
        margin-bottom: 10px;
    }

    /* Right Section */
    .right-section{
        width: 90%;
        height: 20%;
        top: 70%;
        margin: 0;
        margin-top:22px;
    }



    .right-section-content{
        margin: 0;
    }

    .right-section h2{
        font-size: 22px;
    }

    .right-section p{
        font-size: 16px;
    }

    .right-section-after{
        width: 90%;
        height: 50%;
        top: 70%;
        margin: 0;
        margin-top:22px;
    }

    .right-section-after p{
        font-size: 16px;
    }

    .right-section-after button{
        margin-left:5px;
    }

    
}